.Home {

   
    background: transparent url("../assets/XO XO.png")  50% 130% no-repeat;
    /* background-color: black;   */

    position: fixed;
    width: 100%;
    height: 100%;
    
}

.tittle {
  
    @import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
    color: rgb(142, 209, 79) ;
    font-size: 120px;
    font-family: 'Josefin Sans',
    cursive;
    margin-top: 10%;
    
}
.ChinhButton1 {
    margin-top: 450px;
    
}

.ChinhButton2 {
    margin-top: -30px;
}

